# 全局
ICS_FILE_NAME=latest

# 飞书 Base
APP_ID=
APP_SECRET=
APP_TOKEN=
TABLE_ID=

# 钉钉 CalDAV
DINGTALK_ACCOUNT_NAME=钉钉日历
DINGTALK_USERNAME=
DINGTALK_PASSWORD=
DINGTALK_URL=https://calendar.dingtalk.com/dav/{username}/
DINGTALK_SYNC_DAYS_PAST=90
DINGTALK_SYNC_DAYS_FUTURE=90

# 腾讯 CalDAV
TENCENT_ACCOUNT_NAME=腾讯会议日历
TENCENT_USERNAME=
TENCENT_PASSWORD=
TENCENT_URL=https://cal.meeting.tencent.com/caldav/{username}/calendar/
TENCENT_SYNC_DAYS_PAST=90
TENCENT_SYNC_DAYS_FUTURE=90

# 飞书 CalDAV
FEISHU_ACCOUNT_NAME=飞书日历
FEISHU_USERNAME=
FEISHU_PASSWORD=
FEISHU_URL=
FEISHU_SYNC_DAYS_PAST=90
FEISHU_SYNC_DAYS_FUTURE=90
